@import 'vars';
@import 'global';
@import 'fonts';


// start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__text {  
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
  
}

.header__btn {
  color: #fff;
  width: 72px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
}

.header__btn-login {
  background-color: $green;
  
}

.header__btn-Register {
  background-color: $red;
  margin-left: 7px;
}


.header__menu {  
  background-color: $bg;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}

// end header


// start search

.search {
  
  min-height: 533px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.search__inner {
  color: #fff;
  text-align: center;
  padding: 155px 0 100px;
  &-title {
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text {
    font-size: 20px;
    @include f500;
    line-height: 30px;
    padding: 25px 0 55px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0.5px 0.866px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      outline: none;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
         color: #90a4ae;
         @include f500;     
      }
    }
    button {
      position: absolute;
      border:none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }

  }
}

// end search
// start products

.products {
  padding: 110px 0;
  background-color: $gray;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 10px 20px;
    border:none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    &+button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {  
  max-width: 442px;
  width: 100%;
  box-shadow: 0.5px 0.866px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;       
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;  
    min-height: 90px;    
    border-bottom: 1px solid #e7ecf2;
  }  
    &-name{      
      max-width: 310px;     
    }
      &-title{
      color: $bg;
      font-size: 18px;
      @include f500;      
      display: block;       
    }    
    &-category{
      color: $green;
      display: block;
      font-size: 14px;
      @include f500;
    } 
    &-price{
      color: $bg;
      font-size: 20px;
      @include f700;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding: 15px 30px;
    }
    &-author{
     display: flex;
     align-items: center;
     max-width: 245px;
      .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 14px;
      }
       span{
        font-size: 14px;
        @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: $bg;
    }
  }
}

.products__bottom-btn {  
  text-align: center;
  button{
    color: $bg;
    font-size: 16px;
    margin: 45px 5px 0;
    padding: 20px 30px;
    border:none;
    background-color:#fff;
    box-shadow: 0.5px 0.866px 3px 0px rgba(204, 216, 228, 0.75);
    cursor: pointer;
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }  
}

//end products


// start produkt-slider
.products-slider{
  padding: 110px 0 120px;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      &+li{
        margin-left: 7px;        
      }
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{      
      font-size: 0;
      width: 16px;
      height: 16px;
      border-radius:50%;
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;
      
    } 
    }    
  }
}

// end produkt-slider

// start advantages

.advantages{
  background-color: $bg;
  padding: 120px 0 110px;
}

.advantages__title{
  color: #fff;
}

.advantages__inner{
  display: flex;
  justify-content: space-between; 
}

.advantages__item{
  max-width:370px;
  text-align: center;
  padding: 0 15px;  
  &:hover{
    .advantages__item-icon{
      background-color: $green;
    }
    .advantages__item-title{
      color: $green;
    }
    .advantages__item-icon{      
        fill: #fff;     
    }    
  }
  &-icon{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    margin-bottom: 30px;
    transition: all .2s;
  }
  &-title{
    color: #fff;
    font-size: 24px;
    @include f500;
    margin-bottom: 30px;
    transition: all .2s;
  }
  &-text{
    color: #b0bec5;
    font-size: 15px;
    line-height: 24px;
  }
}

.iconsvg-1{
  svg{
    width: 50px;
  }
}

.iconsvg-2{
  svg{
    width: 70px;
  }
}

.iconsvg-3{
  svg{
    width: 86px;
  }
}
.author{  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title{
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin-right: 45px;
    max-width: 265px;
    width: 100%;
    span{
      @include f700;
    }
  }
  &__link{
    color: $bg;
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}
.tutorial{
  padding: 75px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;    
  }
  &__item{
    max-width: 370px;
    width: 100%;    
  }
}

.tutorial__item{
  &-images{
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  &-title{
    color: $bg;
    background-color: #f8f8f8;
    padding: 30px 10px;
    font-size: 24px;
    @include f700;
    text-align: center;
  }
}
.footer{
  background-color: $bg;  
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 100px 0 80px;
}
.footer__copy{
  border-top: 1px solid #424d53;
}

.footer__copy-text{
  color: #919699;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    @include f700;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content:'';
      width: 50px;
      height: 3px;
      left: 2px;
      bottom: 0;
      background-color: $green;
      position: absolute;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info{
  color: #fff;
  margin-top: 18px;
  @include f500;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '\f041';
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }  
}
.footer__info-phone{
  &::before{
    content: '\f095';    
  }  
}
.footer__col-list{
  a{
    color: #b7c3c8;;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    &::before{
      content: '\f105';
      position: absolute;
      left: 0px;
      font-size: 18px;
      font-family: 'icomoon';
      color: $green;
    }
  }
}

.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    &+li{
      margin-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url('../images/content/css_sprites.png');
    
  }
}

.link-facebook{

}
.link-twitter{
  background-position: -28px -0;
}
.link-youtube{
  background-position: -0 -28px;
}
.link-pinteres{
  background-position: -28px -28px;
}
.link-linkedin{
  background-position: -56px -0;
}

.footer__form{
  position: relative;
  &-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  input{
    background-color: #2f3c43;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding-left: 13px;
    padding-right: 50px;
    color: #fff;
    &::placeholder{
      color: #697378;
      font-size: 14px;
    }    
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 43px;
    &::before{
      content: '\f124';
      position: absolute;
      top: 11px;
      left: 13px;
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
    }
  }
}








