@import 'vars';
@import 'global';
@import 'fonts';


// start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__text {  
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
  
}

.header__btn {
  color: #fff;
  width: 72px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
}

.header__btn-login {
  background-color: $green;
  
}

.header__btn-Register {
  background-color: $red;
  margin-left: 7px;
}


.header__menu {  
  background-color: $bg;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}

// end header


// start search

.search {  
  min-height: 533px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  &.page-search{
    min-height: 230px;
    .search__inner{
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  color: #fff;
  text-align: center;
  padding: 155px 0 100px;
  &-title {
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text {
    font-size: 20px;
    @include f500;
    line-height: 30px;
    margin-bottom: 50px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0.5px 0.866px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      outline: none;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
         color: #90a4ae;
         @include f500;     
      }
    }
    button {
      position: absolute;
      border:none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }

  }
}

// end search
// start products

.products {
  padding: 110px 0;
  background-color: $gray;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 10px 20px;
    border:none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    &+button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {  
  max-width: 442px;
  width: 100%;
  box-shadow: 0.5px 0.866px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;       
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;  
    min-height: 90px;    
    border-bottom: 1px solid #e7ecf2;
  }  
    &-name{      
      max-width: 310px;     
    }
      &-title{
      color: $bg;
      font-size: 18px;
      @include f500;      
      display: block;       
    }    
    &-category{
      color: $green;
      display: block;
      font-size: 14px;
      @include f500;
    } 
    &-price{
      color: $bg;
      font-size: 20px;
      @include f700;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding: 15px 30px;
    }
    &-author{
     display: flex;
     align-items: center;
     max-width: 245px;
      .avatar{
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 14px;
      }
       span{
        font-size: 14px;
        @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: $bg;
    }
  }
}

.products__bottom-btn {  
  text-align: center;
  button{
    color: $bg;
    font-size: 16px;
    margin: 45px 5px 0;
    padding: 20px 30px;
    border:none;
    background-color:#fff;
    box-shadow: 0.5px 0.866px 3px 0px rgba(204, 216, 228, 0.75);
    cursor: pointer;
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }  
}

//end products


// start produkt-slider
.products-slider{
  padding: 110px 0 120px;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      &+li{
        margin-left: 7px;        
      }
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{      
      font-size: 0;
      width: 16px;
      height: 16px;
      border-radius:50%;
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;
      
    } 
    }    
  }
}

// end produkt-slider

// start advantages

.advantages{
  background-color: $bg;
  padding: 120px 0 110px;
}

.advantages__title{
  color: #fff;
}

.advantages__inner{
  display: flex;
  justify-content: space-between; 
}

.advantages__item{
  max-width:370px;
  text-align: center;
  padding: 0 15px;  
  &:hover{
    .advantages__item-icon{
      background-color: $green;
    }
    .advantages__item-title{
      color: $green;
    }
    .advantages__item-icon{      
        fill: #fff;     
    }    
  }
  &-icon{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    margin-bottom: 30px;
    transition: all .2s;
  }
  &-title{
    color: #fff;
    font-size: 24px;
    @include f500;
    margin-bottom: 30px;
    transition: all .2s;
  }
  &-text{
    color: #b0bec5;
    font-size: 15px;
    line-height: 24px;
  }
}

.iconsvg-1{
  svg{
    width: 50px;
  }
}

.iconsvg-2{
  svg{
    width: 70px;
  }
}

.iconsvg-3{
  svg{
    width: 86px;
  }
}
.author{  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title{
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin-right: 45px;
    max-width: 265px;
    width: 100%;
    span{
      @include f700;
    }
  }
  &__link{
    color: $bg;
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}
.tutorial{
  padding: 75px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;    
  }
  &__item{
    max-width: 370px;
    width: 100%;    
  }
}

.tutorial__item{
  &-images{
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  &-title{
    color: $bg;
    background-color: #f8f8f8;
    padding: 30px 10px;
    font-size: 24px;
    @include f700;
    text-align: center;
  }
}
.footer{
  background-color: $bg;  
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 100px 0 80px;
}
.footer__copy{
  border-top: 1px solid #424d53;
}

.footer__copy-text{
  color: #919699;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    @include f700;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content:'';
      width: 50px;
      height: 3px;
      left: 2px;
      bottom: 0;
      background-color: $green;
      position: absolute;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info{
  color: #fff;
  margin-top: 18px;
  @include f500;
  padding-left: 30px;
  position: relative;
  &::before{
    content: '\f041';
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }  
}
.footer__info-phone{
  &::before{
    content: '\f095';    
  }  
}
.footer__col-list{
  a{
    color: #b7c3c8;;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    &::before{
      content: '\f105';
      position: absolute;
      left: 0px;
      font-size: 18px;
      font-family: 'icomoon';
      color: $green;
    }
  }
}

.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    &+li{
      margin-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url('../images/content/css_sprites.png');
    
  }
}

.link-twitter{
  background-position: -28px -0;
}
.link-youtube{
  background-position: -0 -28px;
}
.link-pinteres{
  background-position: -28px -28px;
}
.link-linkedin{
  background-position: -56px -0;
}

.footer__form{
  position: relative;
  &-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  input{
    background-color: #2f3c43;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding-left: 13px;
    padding-right: 50px;
    color: #fff;
    &::placeholder{
      color: #697378;
      font-size: 14px;
    }    
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 43px;
    &::before{
      content: '\f124';
      position: absolute;
      top: 11px;
      left: 13px;
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
    }
  }
}
// and footer

// start products-page
.products-page__inner{
  display: flex;
  padding-bottom: 110px;
}
.products-page__aside{
  margin-right: 30px;
}
.aside__item{
  width: 270px;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 32px 32px;
  margin-bottom: 30px;
}
.aside__title{
  color: $bg;
  font-size: 20px;
  padding: 22px 0 19px;
  @include f700;  
  border-bottom: 1px solid #dde3e8;
}
.category__list{
  padding-top: 10px;
  li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;    
    position: relative;
    &::before{
      content: '\f105';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      color: $green;
      font-size: 18px;
    }    
  }
  a{
    color: $bg;
  }
  span{
    color: #90a4ae;
    margin-left: 10px;
    
  }
}
.price-range {
  form{
   padding-top: 25px;
  }
  button{
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    border:none;
    outline: none;
    cursor: pointer;
    width: 100%;
    color: #fff;
    @include f500;
    text-align: center;
    display: block;
    position: relative;
    &::before{
      content: '\f002';
      font-family: 'icomoon';
      position: absolute;
      top: 15px;
      left: 58px;
      color: #fff;
      font-size: 15px;
    }
  }
}
.irs-min,
.irs-max{
  display: none;
}
.irs--flat .irs-line {
  height: 5px;
  // top: 20px;
  background-color: #f2f5f8;
}
.irs--flat .irs-bar{
  height: 5px;
  background-color: $bg;
}
.irs--flat .irs-handle{
  width: 16px;
  height: 16px;
  border:4px solid $green;
  border-radius: 50%;
  background-color: #fff;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs-from, .irs-single, .irs-to{
  top: 45px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
 display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: transparent;
  border-radius: 0px;
}
.irs--flat .irs-handle{
  top: 20px;
}
.products-page__aside{
  .products__item-img{
    min-height: 120px;
  }
  .products__item{
    box-shadow:none;
  }
  .products__item-content{
    padding: 0; 
    min-height: 75px;
    border-bottom: none;
  }
  .products__item-info{
    padding: 0;
    min-height: 0;
  }

  .products__item-title{
    font-size: 16px;
  }
  .products__item-price{
    font-size: 16px;
  }
  .products__item-starnum{
    display: none;
  }
  .rate-star{
    margin-right: 0;
  }
  .products__item-author .avatar{
    margin-right: 9px;
  }
  .jq-ry-container{
    padding: 0;
  }
  .products__item{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
}
.aside__products-item{
  .products__item:last-child{
    border: none;
    padding-bottom: 0;
  }
  .products__item:first-child{
    border: none;
    margin-top: 25px;
  }
}
.top-sallers__link{
  color: #fff;
  background-color: $green;
  display: block;
  padding: 16px 10px;
  text-align: center;
  @include f500;
}




       
.products-page__filter{
  background-color: #fff;
  border: 1px solid #dedede;
  height: 60px;
  padding: 0 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #90a4ae;;
    &.active{
      color: $green;
    }
  }
}
.products-page__filter-sort{
  color: #707070;
  font-size: 14px;
  display: flex;
  align-items: center;
}
button.icon-sort-amount-desc{
  font-size: 14px;
  color: #455a64;
}
button.icon-unsorted{
  color: #707070;
  font-size: 18px;
}


.products-page__content{
  width: 100%;  
}
.products-page__content{
  .products__item{
    max-width: 270px;
    background-color: #fff;
    transition: all .5s;
  }
  .products__item-img{
    min-height: 180px;
  }

.products__item-content{
  padding: 10px 20px;
}
.products__item-title{
  font-size: 16px;
}
.products__item-info{
  min-height: 65px;
  padding: 10px 20px;
}
.rate-star{
  margin-right: 5px;
}
.rate-star{
  padding: 0;
}
}
.products-page__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.pagination__list{
  margin-top: 80px;
  li{
    display: inline-block;
    &+li{
     margin-left: 6px;
    }
  }
  a,
  span{
    box-shadow: 0.5px 0.866px 2px 0px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $bg;
    @include f500;
    &.active{
      background-color: $red;
      color: #fff;
    }
  }
}

.products__item-text{
  display: none;
}

.products__item-price{
  span{
    display: none;
  }
}
.products__item{
  &.list{
    max-width: 100%;
    .products__item-img{
      width: 240px;
      float: left;
      min-height: 100%;
    }
    .products__item-text{
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .products__item-price{
      font-size: 30px;
      span{
        display: block;
        color: #aeb4bb;
        font-size: 13px;
        margin-top: 30px;
     }
   }
   .products__item-name{
     max-width: 480px;
   }
   .products__item-content{
     padding-top: 23px;
   }
  }
}














// and products-page







